<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>110469155997-6buoa1lu5n98mdaqj1u82cvlummp435j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.110469155997-6buoa1lu5n98mdaqj1u82cvlummp435j</string>
	<key>API_KEY</key>
	<string>AIzaSyAm0_OAQkQwabyzwBDW-8ifC_ibgQCdLMM</string>
	<key>GCM_SENDER_ID</key>
	<string>110469155997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-.Login</string>
	<key>PROJECT_ID</key>
	<string>swiftuilogin-b5bd7</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuilogin-b5bd7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110469155997:ios:aae725c063d0c3009b9874</string>
</dict>
</plist>